.photosWrapper {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 16px;
  margin-top: 50px;
}

.page-btn {
  margin-bottom: 16px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  border: 2px solid black;
  font-weight: bold;

  &:hover {
    transition: 0.3s;
    background-color: black;
    color: white;
  }
}

.flex-btn {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.hide-btn {
  display: none;
}

.flex-right {
  margin-left: auto;
}

@media only screen and (max-width: 600px) {
  .page-btn {
    width: 100px;
    height: 30px;
  }
}
